<template>
  <div>
    <section>
      <!-- <user-profile :info="fetchedItem">
        <router-link slot="username" :to="`/user/${fetchedItem.user}`">
          {{ fetchedItem.user }}
        </router-link>
        <template slot="time">{{ 'Posted ' + fetchedItem.time_ago }}</template>
      </user-profile> -->
      <user-profile>
        <router-link slot="username" :to="`/user/${fetchedItem.user}`">
          {{ fetchedItem.user }}
        </router-link>
        <template slot="time">{{ 'Posted ' + fetchedItem.time_ago }}</template>
      </user-profile>
      <section>
        <h2>{{ fetchedItem.title }}</h2>
      </section>
    </section>
    <section>
      <div v-html="fetchedItem.content"></div>
    </section>
  </div>
</template>

<script>
import UserProfile from '../components/UserProfile'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    UserProfile
  },
  computed: {
    ...mapGetters([
      'fetchedItem'
    ])
  },
  created() {
    this.FETCH_ITEM(this.$route.params.id)
  },
  methods: {
    ...mapActions([
      'FETCH_ITEM'
    ])
  }
}
</script>

<style scoped>
.user-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.fa-user {
  font-size: 2.5rem;
}
.user-description {
  padding-left: 8px;
}
.user-time {
  font-size: 0.7rem;
}
</style>
