<template>
  <div>
    <list-item></list-item>
  </div>
</template>

<script>
import ListItem from '../components/ListItem'

export default {
  components: {
    ListItem
  }
}
</script>

<style>

</style>
