<template>
  <div>
    <!-- <user-profile :info="fetchedUser">
      <div slot="username">{{ fetchedUser.id }}</div>
      <span slot="time">{{ 'Joind ' + fetchedUser.created }}, </span>
      <span slot="karma">{{ fetchedUser.karma }}</span>
    </user-profile> -->
    <user-profile>
      <div slot="username">{{ fetchedUser.id }}</div>
      <span slot="time">{{ 'Joind ' + fetchedUser.created }}, </span>
      <span slot="karma">{{ fetchedUser.karma }}</span>
    </user-profile>
  </div>
</template>

<script>
import UserProfile from '../components/UserProfile'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    UserProfile
  },
  computed: {
    ...mapGetters([
      'fetchedUser'
    ])
  },
  created() {
    this.FETCH_USER(this.$route.params.id)
  },
  methods: {
    ...mapActions([
      'FETCH_USER'
    ])
  }
}
</script>

<style>

</style>
