<template>
  <div>
    <ul class="list">
      <li v-for="item in fetchedList" :key="item.id" class="post">
        <div v-if="item.points" class="point">
          {{ item.points}}
        </div>
        <div class="info">
          <p class="title">
            <a v-if="item.domain" :href="item.url">
              {{ item.title }}
            </a>
            <router-link  v-else :to="`/item/${item.id}`">
              {{ item.title }}
            </router-link>
          </p>
          <small class="sub">
            {{ item.time_ago }} by
            <router-link v-if="item.user" :to="`/user/${item.user}`" class="sub">
              {{ item.user }}
            </router-link>
            <a v-else :href="item.url" class="jobs-sub">
              {{ item.domain }}
            </a>
          </small>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'fetchedList'
    ])
    // listItems() {
    //   const name = this.$route.name
    //   return this.$store.state[name]
    // },
  },
  created() {
    // this.FETCH_LIST(this.$route.name)
  },
  methods: {
    // ...mapActions([
    //   'FETCH_LIST'
    // ])
  }
  // created() {
  //   const name = this.$route.name
  //   if (name === 'news')
  //     this.FETCH_NEWS()
  //   else if (name === 'ask')
  //     this.FETCH_ASK()
  //   else if (name === 'jobs')
  //     this.FETCH_JOBS()
  // },
  // methods: {
  //   ...mapActions([
  //     'FETCH_NEWS',
  //     'FETCH_ASK',
  //     'FETCH_JOBS'
  //   ])
  // }
}
</script>

<style>
.list {
  margin: 0;
  padding: 0;
}
.post {
list-style: none;
display: flex;
align-items: center;  
border-bottom: 1px solid #eee;
}
.point {
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #42b883;
}
.title {
  margin: 0;
}
.sub {
  color: #828282;
}
</style>
