<template>
  <div class="user-container">
    <div>
      <font-awesome-icon icon="user"></font-awesome-icon>
    </div>
    <div class="user-description">
      <slot name="username"></slot>
      <div class="user-time">
        <slot name="time"></slot>
      </div>
      <slot name="karma"></slot>
    </div>
  </div>
</template>

<script>
// import { mapGetters, mapActions } from 'vuex'

export default {
  // props: {
  //   info: Object
  // },

  // computed: {
  //   ...mapGetters([
  //     'fetchedUser'
  //   ])
  // },
  // computed: {
  //   ...mapGetters([
  //     'fetchedUser'
  //   ])
  // },
  // created() {
  //   this.FETCH_USER(this.$route.params.id)
  // },
  // methods: {
  //   ...mapActions([
  //     'FETCH_USER'
  //   ])
  // }
}
</script>

<style scoped>
.user-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.fa-user {
  font-size: 2.5rem;
}
.user-description {
  padding-left: 8px;
}
.user-time {
  font-size: 0.7rem;
}
</style>
